[submodule "themes/hugo-toigian"]
	path = themes/hugo-toigian
	url = https://github.com/ntk148v/hugo-toigian.git
[submodule "themes/hugo-bearblog"]
	path = themes/hugo-bearblog
	url = https://github.com/janraasch/hugo-bearblog.git
