


:root {
  --font-mono: "Hack";
  --font-serif: "Esteban";
  --font-heading: "Montserrat";
  --content-width: 50rem;
}

h1,h2,h3,h4,h5,h6 {
  font-family: var(--font-heading)
}

article h3, article h4, article h5, article h6 {
    margin-top: 0rem;
}

h3 {
    font-size: 1.25rem;
}

h4 {
    font-size: 1.1rem;
}

h5, h6 {
    font-size: 1.0rem;
}



pre {
    position: relative;
    margin: 5px 0 ;
    padding: 1.75rem 0 1.75rem 1rem;

  /* more stuff */
}

pre button{
    position: absolute;
    top: 5px;
    right: 5px;

    /* more stuff */
    border-radius: 0.25rem;
    background-color: var(--muted);
    padding-left: 0.25rem;
    padding-right: 0.25rem;
    font-family: var(--font-mono), ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    font-size: 0.875rem;
    line-height: 1.25rem;
    color: var(--base);    
}

code[class*="language-"] {
    white-space: pre-wrap;
    word-break: break-all;
}


img  {
    max-width: 90%;
}

hr {
    margin-top: 2.5rem;
}

